header
	ul.show_user
		li
			a(href="/") 首页
		li
			a(href="/articles") 景区新闻
		li
			a(href="/diarys") 旅游日记
		li 
			a(href="/pics") 图片赏析
		li
			a(href="/connect") 留言板
.ty_tools
	if user
		span 欢迎 
		span #{user.name}
		a(href='/logout') 退出
	else
		a(href='/register') 注册
		a(href='/login') 登陆
