extends ../layout

block content
	.ty_about
		h1 感谢您访问我的个人站
		p 我是田野，一名普通的前端工程师，1994年来到地球，2016年7月毕业于北京邮电大学世纪学院，由此开始了人生的前端之旅，说起为什么进入前端，主要还是因为喜欢，做事情，感觉还是做自己喜欢的事情才更有趣有意思，才会花更多精力去琢磨，希望每个走在这条路上的兄弟姐妹们都能出任ceo，走上人生巅峰~~~
		p 我的个人站
			a(href="http://www.tyweb.top/") http://www.tyweb.top/
		p 博客园
			a(href="http://www.cnblogs.com/xiaoloulan/") http://www.cnblogs.com/xiaoloulan/
		p github
			a(href="https://github.com/tianye19941001") https://github.com/tianye19941001