extends ../layout

block content
	.ty_admin_list
		h2 用户列表
		table
			tr
				td 昵称
				td 操作
			tr
				td sasdas
				td
					a(href="/") 删除
			tr
				td asdasd
		h2 文章列表
		table
			tr
				td 昵称
				td 操作
			tr
				td sasdas
				td
					a(href="/") 删除
			tr
				td asdasd
		h2 作品列表
		table
			tr
				td 昵称
				td 操作
			tr
				td sasdas
				td
					a(href="/") 删除
			tr
				td asdasd
		
