extends ../layout

block content
	.admin_all
		h2 百里画廊后台首页
		ul
			li
				a(href="/admin/articles_list") 新闻操作
			li
				a(href="/admin/diarys_list") 日记操作
			li
				a(href="/admin/imgs_list") 图片操作
			//- li
			//- 	a(href="/admin/imgs") 用户操作